
#dump { width: 1200px; height: 300px; white-space: pre;}
#heatmap { width: 1200px; }

.vertical-align {
	display: flex;
	flex-direction: row;
}
.vertical-align > [class^="col"],
.vertical-align > [class*=" col"],
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
	display: flex;
	align-items: center;
}

.row {
	margin-top: 1em;
	margin-bottom: 1em;
}
